
#linkedin-button {
    text-decoration: none;
    font-size: 1.25em;
    color: rgb(17, 90, 193);
    font-weight: bold;
}


#github-button {
    text-decoration: none;
    font-size: 1.25em;
    color: rgb(17, 90, 193);
    font-weight: bold;
}